<!-- <a href="">Home</a>
<a href="">Login</a>
<a href="">Register</a>
<a href="">Dashboard</a>
<a href="">Shopping List</a>
<a href="">Logout</a> -->

<!-- <a routerLink="/home">Home</a>
<a routerLink="/login">Login</a>
<a routerLink="/register">Register</a>
<a routerLink="/dashboard">Dashboard</a>
<!-- <a routerLink="/list">Shopping List</a> -->
<!-- <a routerLink="/logout">Logout</a> -->

<!-- <a routerLink="/home"> Home </a>
<a routerLink="/auth/login"> Login </a>
<a routerLink="/auth/register"> Register </a>
<a routerLink="/admin/dashboard"> Dashboard </a>
<a routerLink="/auth/logout"> Logout </a> -->

<mat-toolbar color="primary">
    <span style="margin-right: 100px;"><i> Shopping Menu  </i></span>
    <a routerLink="/home" class="menu-spacer" routerLinkActive="active-link"> Home </a>
    <a routerLink="/auth/login" class="menu-spacer" routerLinkActive="active-link"> Login </a>
    <a routerLink="/auth/register" class="menu-spacer" routerLinkActive="active-link"> Register </a>
    <a routerLink="/admin/dashboard" class="menu-spacer" routerLinkActive="active-link"> Dashboard </a>
    <a routerLink="/auth/logout" class="menu-spacer" routerLinkActive="active-link"> Logout </a>
</mat-toolbar>