<!-- <a href="">Home</a>
<a href="">Login</a>
<a href="">Register</a>
<a href="">Dashboard</a>
<a href="">Shopping List</a>
<a href="">Logout</a> -->

<!-- <a routerLink="/home">Home</a>
<a routerLink="/login">Login</a>
<a routerLink="/register">Register</a>
<a routerLink="/dashboard">Dashboard</a>
<!-- <a routerLink="/list">Shopping List</a> -->
<!-- <a routerLink="/logout">Logout</a> -->

<a routerLink="/home">Home</a>
<a routerLink="/auth/login">Login</a>
<a routerLink="/auth/register">Register</a>
<a routerLink="/admin/dashboard">Dashboard</a>
<!-- <a routerLink="/list">Shopping List</a> -->
<a routerLink="/auth/logout">Logout</a>